
<table class="cell-grid">
    @for (int row = 0; row < Generation.Rows; row++)
    {
        <tr class="cell-row">
            @for (int col = 0; col < Generation.Columns; col++)
            {
                <td>
                    <CellDisplay Cell="@Generation.Cells[row,col]" IsRunning="IsRunning" />
                </td>
            }
        </tr>
    }
</table>

@code
{
    [Parameter] public Generation Generation { get; set; }
    [Parameter] public bool IsRunning { get; set; }
}
