<div class="cell @(Cell.IsAlive ? "cell-alive" : "")" @onclick="OnCellClick"></div>
@code {
    [Parameter] public Cell Cell { get; set; }
    [Parameter] public bool IsRunning { get; set; }

    public void OnCellClick()
    {
        if (!IsRunning)
        {
            Cell.IsAlive = !Cell.IsAlive;
        }
    }
}
