@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="top-row px-4">
        Welcome to <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of life</a>, implemented in Blazor.
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
